@font-face {
  font-family: "blodFont";
  src: url("../../TaipeiSansTCBeta-Bold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
li,
a {
  font-family: "blodFont", sans-serif;
}
